/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$light-bg: #efefef;
$dark-bg: #1c1e20;
$font-color: #333333;
$link: #bcd8ee;
$link-hover: #0085ef;

* { box-sizing: border-box; margin: 0; padding: 0; border: 0; scroll-behavior: smooth; }

/* Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pswp__top-bar { background-color: transparent !important; }

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;

    // Dark Mode!
    @media (prefers-color-scheme: dark) {
        background-color: $dark-bg;
        color: white;
    }
    @media (prefers-color-scheme: light) {
        background-color: $light-bg;
        color: black;
    }
}

a {
    // Smooth out those color fades
    transition: color 0.3s ease-out;
    color: #0085ef;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

hr {             
    background-color:#666;
    height: 1px;
    margin: 10px 20px;
}

.spacer {
    clear: both;
    height: 1rem;
}