/* Variables */
$light-bg: #efefef;
$dark-bg: #1c1e20;
$font-color: #333333;
$link: #bcd8ee;
$link-hover: #0085ef;

* { box-sizing: border-box; margin: 0; padding: 0; border: 0; scroll-behavior: smooth; }

/* Overrides */
.pswp__top-bar { background-color: transparent !important; }

/* Base Styles */

html {
    height: 100%;
    // Minimum 16x, and grows more slowly (half the rate of screen growth)
    font-size: calc(1em + 0.5vw);
    
    // Line-height based on font-size, with addition viewport-relative growth
    line-height: calc(1.1em + 0.5vw);
    margin: 0;
}
body {
    height: 100%;
    font-family: system-ui, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

    // Dark Mode!
    @media (prefers-color-scheme: dark) {
        background-color: $dark-bg;
        color: white;
    }
    @media (prefers-color-scheme: light) {
        background-color: $light-bg;
        color: black;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.75rem 1rem;

    @media screen and (max-width: 45em) {
        margin: 0.5em 0;
    }
}

h1 {
    // Grows more quickly, allowing for wider variation on larger screens
    font-size: calc(2rem + 1.5vw);
}

h2 {
    // Based on the root text-size, and therefore growing at the same rate
    font-size: calc(1rem + 1.5vw);
}

a {
    // Smooth out those color fades
    transition: color 0.3s ease-out;
    color: #0085ef;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 3px;
}

hr {             
    background-color:#666;
    height: 1px;
    margin: 10px 20px;
}

figcaption {
    font-size: 0.75rem;
    line-height: 1rem;
}

.spacer {
    clear: both;
    height: 1rem;
}

section {
    padding: 2rem 0.5rem;

    p {
        font-size: 1rem;
        margin: 0.5rem 1rem;

        @media screen and (max-width: 45em) {
            margin: 0.5em 0;
        }

        a {
            text-decoration: none;
            color: $font-color;
            background-color: $link;
            border-radius: 5px;
            padding: 2px 5px;
            transition: 0.3s ease-out;

            &:hover {
                background-color: $link-hover;
                color: white;
                //text-decoration: underline;
            }
        }
    }

    .text-center { text-align: center; }
    .text-right { text-align: right; }

}