/* Special Effects
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// The emoji hand can wave now
.wave {
    animation: hello 12s linear;
    animation-delay: 1.8s;
    transform-origin:  70% 70%;
    animation-iteration-count: infinite;
    display: inline-block;

    @keyframes hello {
        0% { transform:rotate(0deg) }
        1% { transform:rotate(14deg) }
        2% { transform:rotate(-8deg) }
        3% { transform:rotate(14deg) }
        4% { transform:rotate(-4deg) }
        5% { transform:rotate(10deg) }
        6% { transform:rotate(0deg) }
        10% { transform: rotate(0deg) }
    }
}

/* Cards - Callout content block that is straight or tilted to the left like a card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tilt-card {
	position: relative;
	background: white;
	border-radius: 10px;
    margin: 50px 70px 50px;
    padding: 10px;
	box-shadow: 0 10px 15px #cccccc;
	transform: rotate(-1.5deg) scale(1.15);
	overflow: hidden;
}
.card {
    position: relative;
    background: white;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 10px;
    box-shadow: 0 10px 15px #cccccc;
    overflow: hidden;
}

/* Micro.blog Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.microblog_text p {margin: 0.5em 0 !important;}
.microblog_time {display:none;}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  mask-size: cover;
  -webkit-mask-size: cover;
  background: linear-gradient(0deg, rgba(255,136,0,1) 35%, rgba(253,187,45,1) 100%);
  }
.icon-mb {
	mask: url(img/home/microblog.svg); 
	-webkit-mask: url(img/home/microblog.svg);
}